body {
  background-color: #F4FEFF;
}

h1 {
  color: #202023;
  font-family: "Lucida Console", sans-serif;
  font-size: 200%;
}

h2, h3, h4 {
  color: #202023;
  font-family: "Lucida Console", sans-serif;
}

h5, h6 {
  color: #202023;
  font-family: georgia, serif;
}

p {
  color: #202023;
  font-family: georgia, serif;
}

a:link {
  color: #6AA2F5;
  font-family: georgia, serif;
}

a:visited {
  color: #7A92A0;
}

a:hover {
  color: #5D72DF;
}

hr {
  border-top: 1px solid #7A92A0;
}

ul {
  color: #202023;
  font-size: 18px;
}

.sitebox {
  display: grid;
  grid-row-gap: 10px;
}

.windowbox{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
  background-color: white;
  border: 3px solid #6AA2F5;
  border-radius: 3px;
}

.topbar {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  background-color:#6AA2F5;
  border-radius: 3px;
}

.url {
  color: white;
  font-family: "Lucida Console", sans-serif;
}

.homeicon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color:#6AA2F5;
  text-align: center;
  color: white;
  padding: 11px 0px;
  border-radius: 5px;
  width: 40px;
}

.abouticon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color:#6AA2F5;
  text-align: center;
  color: white;
  padding: 11px 0px;
  border-radius: 5px;
  width: 40px;
}

.workicon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color:#6AA2F5;
  text-align: center;
  color: white;
  padding: 11px 0px;
  border-radius: 5px;
  width: 40px;
}

.contacticon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color:#6AA2F5;
  text-align: center;
  color: white;
  padding: 11px 0px;
  border-radius: 5px;
  width: 40px;
}

.windowicons {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  padding: 10px
}

@media screen and (max-width: 400px) {
  .sitebox{
    grid-template-columns: 40px 66% 23%;
    grid-template-rows: 40px 40px 40px 40px;
    grid-gap: 10px 3%;
    margin: 10% 7% 10% 1%;
  }

  .windowbox {
    padding: 50px 1.25em 1.5em;
	}

  .topbar {
    padding: 0px 1em;
  }

  #homeimg {
    width: 70%;
    border-radius: 6px;
    margin-left: 15%;
  }

  h1 {
    font-size: 25px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .sitebox{
    grid-template-columns: 40px 76% 80px;
    grid-gap: 15px 2%;;
    grid-template-rows: 40px 40px 40px 40px;
    margin: 100px 7% 100px 11%;
  }

  .windowbox {
    padding: 70px 2.5em;
	}

  .topbar {
    padding: 0px 1em;
  }

  #homeimg {
    width: 225px;
    border-radius: 6px;
    margin-left: 0px;
  }

  #contactimg {
    width: 200px;
    height: auto;
    border-radius: 6px;
    margin-left: 5%;
  }

  .textbox {
    display: flex;
    gap: 1.5em;
  }

  .textleft {
    width: 25%
  }

  .textright {
    width: 70%
  }

  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }

  .url {
    font-size: 16px;
  }
}
