body {
  background-color: #F4FEFF;
}

h1 {
  color: #202023;
  font-family: "Lucida Console", sans-serif;
  font-size: 200%;
}

h2, h3, h4 {
  color: #202023;
  font-family: "Lucida Console", sans-serif;
}

h5, h6 {
  color: #202023;
  font-family: georgia, serif;
}

p {
  color: #202023;
  font-family: georgia, serif;
}

img {
  border-radius: 8px;
}

a:link {
  color: #6AA2F5;
  font-family: georgia, serif;
}

a:visited {
  color: #7A92A0;
}

a:hover {
  color: #5D72DF;
}

hr {
  border-top: 1px solid #7A92A0;
}

ul {
  color: #202023;
}

.sitebox {
  display: grid;
}

.windowbox{
  grid-column-start: 2;
  grid-column-end: 3;
  background-color:white;
  border: 3px solid #6AA2F5;
}

.tempbox{
  grid-column-start: 1;
  grid-column-end: 2;
  background-color:green;
}

@media screen and (max-width: 400px) {
  .sitebox{
    grid-template-columns: 50px 70%;
    column-gap:5%;
    margin: 10% auto 10% 10%;
  }

  .windowbox {
    padding:1.5em;
	}
}
