body {
  background-color: #F4FEFF;
}

h1 {
  color: #202023;
  font-family: "Lucida Console", sans-serif;
  font-size: 200%;
}

h2, h3, h4 {
  color: #202023;
  font-family: "Lucida Console", sans-serif;
}

h5, h6 {
  color: #202023;
  font-family: georgia, serif;
}

p {
  color: #202023;
  font-family: georgia, serif;
}

a:link {
  color: #6AA2F5;
  font-family: georgia, serif;
}

a:visited {
  color: #7A92A0;
}

a:hover {
  color: #5D72DF;
}

hr {
  border-top: 1px solid #7A92A0;
}

ul {
  color: #202023;
  font-size: 18px;
}

.sitebox {
  display: grid;
  grid-row-gap: 10px;
}

.windowbox{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 6;
  background-color: white;
  border: 3px solid #6AA2F5;
  border-radius: 3px;
}

.topbar {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  background-color:#6AA2F5;
  border-radius: 3px;
}

.url {
  color: white;
  font-family: "Lucida Console", sans-serif;
}

.homeicon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color:#6AA2F5;
  text-align: center;
  color: white;
  padding: 11px 0px;
  border-radius: 5px;
  width: 40px;
  cursor: pointer;
}

.abouticon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color:#6AA2F5;
  text-align: center;
  color: white;
  padding: 11px 0px;
  border-radius: 5px;
  width: 40px;
  cursor: pointer;
}

.workicon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color:#6AA2F5;
  text-align: center;
  color: white;
  padding: 11px 0px;
  border-radius: 5px;
  width: 40px;
  cursor: pointer;
}

.contacticon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color:#6AA2F5;
  text-align: center;
  color: white;
  padding: 11px 0px;
  border-radius: 5px;
  width: 40px;
  cursor: pointer;
}

.windowicons {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  color: white;
  padding: 10px
}

.imgbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#codeEx {
  list-style-type: none;
  padding-left: 0px;
}

#codeEx li:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
  .sitebox{
    grid-template-columns: 40px 66% 23%;
    grid-template-rows: 40px 40px 40px 40px;
    grid-gap: 10px 3%;
    margin: 10% 7% 10% 1%;
  }

  .windowbox {
    padding: 50px 1.25em 1.5em;
	}

  .topbar {
    padding: 0px 1em;
  }

  #homeimg {
    width: 70%;
    border-radius: 6px;
    margin-left: 15%;
  }

  #contactimg {
    width: 70%;
    height: auto;
    border-radius: 6px;
    margin-left: 15%;
  }

  .imgbox {
    width: 66%;
    height: 30%;
    margin-left: 20%;
  }

  .art1 {
    width: 100%
  }

  .art2 {
    width: 100%
  }

  .art3 {
    width: 100%
  }

  #art1 {
    width: 85%;
  }

  #art2 {
    width: 84.5%;
  }

  #art3 {
    width: 100%;
  }

  h1 {
    font-size: 25px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 15px;
  }
}

@media screen and (min-width: 800px) {
  .sitebox{
    grid-template-columns: 40px 76% 80px;
    grid-gap: 15px 2%;;
    grid-template-rows: 40px 40px 40px 40px;
    margin: 100px 7% 100px 11%;
  }

  .windowbox {
    padding: 70px 2.5em 40px;
	}

  #codeBox {
    margin: 100px 7% 30px 11%;
  }

  #artworkBox {
    margin: 0px 7% 100px 11%;
  }

  .topbar {
    padding: 0px 1em;
  }

  #homeimg {
    width: 225px;
    border-radius: 6px;
    margin-left: 0px;
  }

  #contactimg {
    width: 200px;
    height: auto;
    border-radius: 6px;
    margin-left: 5%;
  }

  .textbox {
    display: flex;
    gap: 1.5em;
  }

  .textleft {
    width: 25%
  }

  .textright {
    width: 70%
  }

  .imgbox {
    width: 76%;
    height: 40%;
  }

  .art1 {
    width: 30%
  }

  .art2 {
    width: 30%
  }

  .art3 {
    width: 30%
  }

  #art1 {
    width: 85%;
  }

  #art2 {
    width: 84.5%;
  }

  #art3 {
    width: 100%;
  }

  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }

  .url {
    font-size: 16px;
  }
}

#a11 {
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  border: 2px solid red;
  background: white;
  color: red;
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  display: inline-block;
  cursor: pointer;
}

#coolImage {
  width: 200px;
  cursor: pointer;
}

.randomize {
  display: block;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-family: "Lucida Console", sans-serif;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #6AA2F5;
}

.randomize:hover {
  background-color: #52b1ff;
}

.sillyStoryControls {
  padding: 12px 17px;
  min-height: 50px;
}

.sillyStory {
  padding-bottom: 15px;
}

.story {
  padding: 0px 17px;
}

#smallTab {
  grid-template-columns: 40px 40% 80px;
  grid-gap: 15px 2%;;
  grid-template-rows: 40px 40px 40px 40px;
  margin: 7% 0px 7% 27%;
}
